body {
  background: url("../img/cork-board.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#pol {
  position: relative;
}
#cat {
  position: absolute;
  left: 140px;
  top: 197px;
}
